<div style="margin-top:70px;padding-top: 40px;">
<section class="container pin-top">
  <div class="left-col">
    <p class="text-center font-pin">
      <strong>和朋友，君子之交</strong><br>
      <br>
      青春年少时，和同学放肆哭闹<br>
      中年稳健时，和生意伙伴心照不宣<br>
      老年沧桑时，和老友晨起健身<br>
      这样的朋友，真实简单<br>
      一生，各有一个就好<br>
    </p>
    <hr><div class="div-img"><%= image_tag "1.gif",alt: 'flower' %></div><hr>
    <p class="text-center font-pin">
      <strong>和爱人，相伴一生</strong><br>
      <br>
      当有一天花开满丛<br>
      希望里面有一朵是我送你的<br>
      当有一天星挂满天<br>
      希望里面有一颗是我想着你的<br>
      当我牵起你的手时，爬山虎才开始发芽<br>
      当你我头上爬满白发，爬山虎也覆盖了我们的家<br>
      这样的爱情，相看两不厌<br>
      一生，一次就好<br>
    </p>
    <hr><div class="div-img"><%= image_tag "2.gif",alt: 'flower' %></div>
  </div>
  <div class="right-col">
    <div class="pinned note-container">
      <div class="note">
        <h3><strong>Pin it!</strong></h3>
        <p></p>
      </div>
    </div>
  </div>
</section>
</div>
<br><br>
<h1>第二部分</h1><br><br>

<div style="float: left;">
  <div class="bottom">
    <p class="text-center font-pin">
      <strong>和亲人，平安到老</strong><br>
      <br>
      阖家欢乐就是最大的福报<br>
      不求大富大贵，只求心境的满足<br>
      不求家庭大小，只求和睦团圆<br>
      老来，有所依靠<br>
      这样的亲情，和平安详<br>
      一生，一次永恒就好<br>
    </p>
    <hr><div class="div-img"><%= image_tag "3.gif",alt: 'flower' %></div><hr>
    <p class="text-center font-pin">
      <strong>和生活，相濡以沫</strong><br>
      <br>
      假如有一天，我失去了工作<br>
      生活却还赐予我一颗积极上进的心<br>
      假如有一天，我被情感抛弃<br>
      生活却还教我学会感悟学会爱<br>
      假如有一天，我走得很苦很累<br>
      生活却还告诉我要坚持<br>
      和生活相濡以沫<br>
      无悔过好每一天<br>
      这样的生活<br>
      一生，生活始终这样如一就好<br>
    </p>
    <hr><div class="div-img"><%= image_tag "0.gif",alt: 'flower' %></div><hr>
  </div>
</div>

