<div>
  <ul>
    <li><%= link_to 'jQuery Pin', pin_products_path %></li>
    <li><%= link_to 'fileinput', file_input_products_path %></li>
    <li><%= link_to 'shrine', photos_path %></li>
    <li><%= link_to 'paperclip', attachments_path %></li>
  </ul>
</div>
