<form enctype="multipart/form-data">
  <div class="form-group">
    <!--<input type="file" class="file" id="test-upload" multiple>-->
    <!--<div id="errorBlock" class="help-block"></div>-->

    <!--<input id="input-700" name="kartik-input-700[]" type="file" multiple class="file-loading">-->

    <input id="file" type="file" class="file">
  </div>
  <!--拖拽-->
  <!--<div class="form-group">-->
    <!--<input id="file-5" class="file" type="file" multiple data-preview-file-type="any" data-upload-url="#" data-preview-file-icon="">-->
  <!--</div>-->
</form>